name: Edit issue project fields
on:
  issues:
    types:
      - labeled

permissions:
  contents: read  # non so se serva
  issues: write
  repository-projects: write

jobs:
  edit_issue:
    runs-on: self-hosted
    steps:

      - name: Get project data
        env:
          GH_TOKEN: ${{ secrets.PROJECT_ACCESS_TOKEN }}
          ORGANIZATION: GlitchHub-Team
          PROJECT_NUMBER: 2
        
        run: |
          PROJECT_DATA=$(gh api graphql -f query=' 
          query($org: String!, $number: Int!) { 
              organization(login: $org){ 
              projectV2(number: $number) { 
                  id 
                  fields(first:50) { 
                  nodes { 
                      ... on ProjectV2Field { 
                          id 
                          name 
                      }
                      ... on ProjectV2IterationField {
                          id
                          name
                          configuration {
                              completedIterations {
                                  title
                                  startDate
                                  id
                              }
                              iterations {
                                  title
                                  startDate
                                  id
                              }
                          }
                      }
                      ... on ProjectV2SingleSelectField { 
                          id 
                          name 
                          options { 
                              id 
                              name 
                          } 
                      }
                  } 
                  } 
              } 
              } 
          }' -f org=$ORGANIZATION -F number=$PROJECT_NUMBER)
          
          echo 'PROJECT_ID='$(                  echo $PROJECT_DATA | jq '.data.organization.projectV2.id') >> $GITHUB_ENV
          echo 'SPRINT_FIELD_ID='$(             echo $PROJECT_DATA | jq '.data.organization.projectV2.fields.nodes[] | select(.name== "Sprint") | .id') >> $GITHUB_ENV
          echo 'CURRENT_ITERATION_OPTION_ID='$( echo $PROJECT_DATA | jq '.data.organization.projectV2.fields.nodes[] | select(.name == "Sprint") | .configuration.iterations | first | .id') >> $GITHUB_ENV
          echo 'SPRINT_ROLE_FIELD_ID='$(        echo $PROJECT_DATA | jq '.data.organization.projectV2.fields.nodes[] | select(.name== "Sprint role") | .id') >> $GITHUB_ENV
      
      - name: Get issue data
        env:
          GH_TOKEN: ${{ secrets.PROJECT_ACCESS_TOKEN }}
          ISSUE_NODE_ID: ${{ github.event.issue.node_id }}
          ISSUE_LABELS: '${{ github.event.issue.labels }}'

        run: |
          AMMINISTRATORE_LABEL=$(echo $ISSUE_LABELS | jq '.[] | select(.name == "task-amministratore")')
          ANALISTA_LABEL=$(      echo $ISSUE_LABELS | jq '.[] | select(.name == "task-analista")')
          PROGETTISTA_LABEL=$(   echo $ISSUE_LABELS | jq '.[] | select(.name == "task-progettista")')
          PROGRAMMATORE_LABEL=$( echo $ISSUE_LABELS | jq '.[] | select(.name == "task-programmatore")')
          RESPONSABILE_LABEL=$(  echo $ISSUE_LABELS | jq '.[] | select(.name == "task-responsabile")')
          VERIFICATORE_LABEL=$(  echo $ISSUE_LABELS | jq '.[] | select(.name == "task-verificatore")')

          SPRINT_ROLE_OPTION_ID=""
          if [[ $RESPONSABILE_LABEL ]]; then
              echo Task responsabile
              SPRINT_ROLE_OPTION_ID=$RESPONSABILE_OPTION_ID

          elif [[ $AMMINISTRATORE_LABEL ]]; then
              echo Task amministratore
              SPRINT_ROLE_OPTION_ID=$AMMINISTRATORE_OPTION_ID

          elif [[ $ANALISTA_LABEL ]]; then
              echo "Task analista"
              SPRINT_ROLE_OPTION_ID=$ANALISTA_OPTION_ID

          elif [[ $VERIFICATORE_LABEL ]]; then
              echo "Task verificatore"
              SPRINT_ROLE_OPTION_ID=$VERIFICATORE_OPTION_ID

          elif [[ $PROGETTISTA_LABEL ]]; then
              echo "Task progettista"
              SPRINT_ROLE_OPTION_ID=$PROGETTISTA_OPTION_ID

          elif [[ $PROGRAMMATORE_LABEL ]]; then
              echo "Task programmatore"
              SPRINT_ROLE_OPTION_ID=$PROGRAMMATORE_OPTION_ID
          else
              echo "Impossibile determinare ruolo"
          fi

          echo 'SPRINT_ROLE_OPTION_ID='$SPRINT_ROLE_OPTION_ID >> $GITHUB_ENV
      
      - name: Add issue to project
        env:
          GH_TOKEN: ${{ secrets.PROJECT_ACCESS_TOKEN }}

        run: |
          ITEM_ID=$(gh api graphql -f query='
          mutation($project:ID!, $issue:ID!) {
              addProjectV2ItemById(input: {projectId: $project, contentId: $issue}) {
                  item {id}
              }
          }' -f project=$PROJECT_ID -f issue=$ISSUE_NODE_ID --jq '.data.addProjectV2ItemById.item.id')
          echo 'ITEM_ID='$ITEM_ID >> $GITHUB_ENV
      
      - name: Set fields
        env:
          GH_TOKEN: ${{ secrets.PROJECT_ACCESS_TOKEN }}
        
        run: |
          if [[ $CURRENT_ITERATION_OPTION_ID ]]; then
            gh api graphql -f query='
            mutation (
              $project_id: ID!
              $item_id: ID!
              $sprint_field: ID!
              $sprint_value: String!
            ) {
              updateProjectV2ItemFieldValue(input: {
                projectId: $project_id
                itemId: $item_id
                fieldId: $sprint_field
                value: { iterationId: $sprint_value }
              }) {
                projectV2Item {id}
              }
          
            }' \
            -f project_id=$PROJECT_ID \
            -f item_id=$ITEM_ID \
            -f sprint_field=$SPRINT_FIELD_ID \
            -f sprint_value=$CURRENT_ITERATION_OPTION_ID \
            --silent
          else
              echo Warning: Sprint field does not exist
          fi

          if [[ $SPRINT_ROLE_OPTION_ID ]]; then
            gh api graphql -f query='
            mutation (
              $project_id: ID!
              $item_id: ID!
              $sprint_role_field: ID!
              $sprint_role_value: String!
            ) {
              updateProjectV2ItemFieldValue(input: {
                projectId: $project_id
                itemId: $item_id
                fieldId: $sprint_role_field
                value: { singleSelectOptionId: $sprint_role_value }
              }) {
                  projectV2Item {id}
              }
            
            }' \
            -f project_id=$PROJECT_ID \
            -f item_id=$ITEM_ID \
            -f sprint_role_field=$SPRINT_ROLE_FIELD_ID \
            -f sprint_role_value=$SPRINT_ROLE_OPTION_ID \
            --silent
          else
              echo  Warning: Sprint role not found
          fi
