name: "Edit labeled issue's project fields"
on:
  issues:
    types:
      - labeled

permissions:
  contents: read  # non so se serva
  issues: write
  repository-projects: write

jobs:
  edit_issue:
    runs-on: self-hosted
    steps:
      - name: Get issue data
        env:
          GH_TOKEN: ${{ secrets.PROJECT_ACCESS_TOKEN }}
          ORGANIZATION: GlitchHub-Team
          PROJECT_NUMBER: 2
          ISSUE_NUMBER: ${{ github.event.issue.number }}
          ISSUE_NODE_ID: ${{ github.event.issue.node_id }}
        
        run: automation/issues/get_issue_data.sh
      
      - name: Set sprint role
        env:
          GH_TOKEN: ${{ secrets.PROJECT_ACCESS_TOKEN }}

        run: automation/issues/set_sprint_role.sh
