name: "Edit opened issue's project fields"
on:
  issues:
    types:
      - opened

permissions:
  contents: read  # non so se serva
  issues: write
  repository-projects: write

env:
  GH_TOKEN: ${{ secrets.PROJECT_ACCESS_TOKEN }}

jobs:
  edit_issue:
    runs-on: self-hosted
    steps:
      - name: Install deps
        run: pip install -r ./automation/issue-action/requirements.txt

      - name: Execute Script
        env:
          PROJECT: "GlitchHub-Team/2"
          REPO_OWNER: ${{github.event.repository.owner}}
          REPO_NAME: ${{github.event.repository.name}}
          ISSUE_NUMBER: ${{ github.event.issue.number }}
          ISSUE_NODE_ID: ${{ github.event.issue.node_id }}
        
        run: python3 ./automation/issue-action $PROJECT "$REPO_OWNER/$REPO_NAME/$ISSUE_NUMBER" $ISSUE_NODE_ID --role --iteration
