name: Compile Typst
on:
  push:
    branches: [ "**" ]
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  install-fonts:
    uses: GlitchHub-Team/actions/.github/workflows/ubuntu-install-fonts.yml@main
    with:
      folder: ./src/assets/fonts

  build:
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Install Typst
        uses: typst-community/setup-typst@v4
        with:
          typst-version: '0.14.1'

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.3'
      
      - name: Install Go dependencies
        run: go mod tidy
        working-directory: script/scriptHomePage
      
      - name: Run bash
        run: | 
          chmod +x compile.sh
          ./compile.sh
      
      - name: Check Git status
        run: git status